/* Formatting for components folder files */

/* Header formating  */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #333;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* End Header formating  */

/*---------------------------------------------------------------------------------------------*/

/* Nav formating */
nav {
  padding: 10px;
}

nav a {
  padding: 2%;
  text-transform: uppercase;
  font-size: 12px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #000;
}

/* End Nav Formatting */

/*---------------------------------------------------------------------------------------------*/

/* App Body formatting */
.App-body {
 padding: 50px;
}
/* End App Body formatting */

/*---------------------------------------------------------------------------------------------*/

/* App footer formatting */
.App-footer {
  background-color: #666;
  height: 150px;
  padding: 20px;
  color: white;
  bottom: 0px;
  width: 100%;
}

.App-footer button {
  background: #41b25c;
  border-color: #41b25c;
}
/*End App footer formatting */
